<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'formation')}">

<head>
    <meta charset="UTF-8"/>
    <title>Formation</title>

    <link
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            rel="stylesheet"/>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <br/>
    <div class="container">
        <!-- Panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Formation</h1>
            </div>
            <div class="panel-body">
                <!--					&lt;!&ndash; Search &ndash;&gt;-->
                <!--					<div class="container">-->
                <!--						<form th:action="@{/formations/(p=${p},s=${s},mc=${mc})}"-->
                <!--							method="GET">-->
                <!--							<label for="mc">Mot Clé:</label> <input type="text" id="mc"-->
                <!--								name="mc" th:value="${mc}" /> <input type="submit"-->
                <!--								class="btn btn-primary" />-->
                <!--						</form>-->
                <!--					</div>-->
                <!--					&lt;!&ndash; Table &ndash;&gt;-->


                <table class="table  table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Update</th>
                        <th scope="col">Delete</th>
                        <th scope="col">Niveaux</th>
                    </tr>
                    </thead>
                    <tbody id="listeformations">

                    </tbody>
                </table>


            </div>
            <!--				<div class="panel-footer">-->
            <!--					<div class="container">-->
            <!--						<ul class="nav nav-pills">-->
            <!--							<li th:class="${status.index}==${p} ? 'active' : ''"-->
            <!--								th:each="numPage,status:${nbPages}"><a-->
            <!--								th:text="${status.index}"-->
            <!--								th:href="@{/formations/(p=${status.index},s=${s},mc=${mc})}"></a></li>-->
            <!--						</ul>-->
            <!--					</div>-->
            <!--				</div>-->
        </div>
    </div>

    <!-- Panel -->
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Ajouter une formation</h1>
            </div>
            <div class="panel-body">
                <form method="post">
                    <div class="form-group">
                        <label class="control-label">Nom :</label>
                        <input type="text"
                               class="form-control" name="nom" id="nom">
                    </div>
                    <div class="panel-footer">
                        <input type="button" value="Ajouter" class="btn btn-success" onclick="addFormation()">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script type="application/javascript">
    const port = "8099"
    const URL = "http://localhost:" + port

    window.onload = function () {
        getFormations()
    }

    //Get formations
    const formationurl = URL + "/formations"


    async function getFormations() {

        let table = document.getElementById("listeformations")
        fetch(formationurl, {
            method: "GET"
        }).then(response => response.json())
            .then(response => response._embedded.formations)
            .then(formations => formations.forEach(function (formation) {
                table.innerHTML += `
            <tr>
                <td scope="row">${formation.nom}</td>
                <td scope="row"><a href="${URL + '/formationUpdate?id=' + formation.id}"><button class="btn btn-warning">Edit</button></a></td>
                <td scope="row"><button class="btn btn-danger" onclick="deleteFormation(${formation.id})">Delete</button></td>
                <td scope="row"><a href="${URL + "/niveaux?id_formation=" + formation.id}"><button class="btn btn-primary">Niveaux</button> </a></td>
            </tr>
            `
            }))

    }

    async function deleteFormation(i) {
        const deleteformationulr = URL + "/formations"
        const niveauxurl = formationurl + "/" + i + "/niveaux"
        let niveauxResponse = await fetch(niveauxurl, {
            method: "GET"
        }).then(response => response.json())
            .then(response => {
                let niveaux = response._embedded.niveaus
                console.log(niveaux)
                niveaux.forEach(function (niveau) {
                    console.log(URL + "/niveaus/" + niveau.id + "/formation")
                    fetch(URL + "/niveaus/" + niveau.id + "/formation", {
                        method: "DELETE"
                    })
                })
            })

        await fetch(deleteformationulr + "/" + i, {
            method: "DELETE"
        })
        location.reload();
        return false;
    }


    async function addFormation() {
        let body = {
            nom:document.getElementById("nom").value
        }
        await fetch(URL + "/formations",{
            method:"POST",
            headers: {
                'Content-Type': 'application/json;charset=utf-8',
            },
            body:JSON.stringify(body)
        })
        window.location.href=URL+"/formation"
        return false

    }


</script>

</body>
</html>
