<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'')}">

<head>
    <meta charset="UTF-8"/>
    <title>Niveau</title>

    <link
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            rel="stylesheet"/>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div>
    <br/>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 id="header">Niveau</h1>
            </div>
            <div class="panel-body"></div>
            <!-- Search -->
            <div class="container">
                <form th:action="@{/niveaux/}" method="GET">
                    <label for="mcNomNiveau">Mot Clé:</label>
                    <input type="text" id="mcNomNiveau" name="mc"/>
                    <input type="button" class="btn btn-primary" th:value="Chercher"/>
                </form>
            </div>

            <!-- Table -->
            <div class="container-fluid">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Update</th>
                        <th>Delete</th>
                        <th>Matieres</th>
                    </tr>
                    </thead>

                    <tbody id="listeniveaux">

                    </tbody>
                </table>
            </div>

            <div class="panel-footer">
                <!-- navbar -->
                <div class="container">
                    <ul class="nav nav-pills">
                        <!--                        <li th:class="${status.index}==${p} ? 'active' : ''"-->
                        <!--                            th:each="numPage,status:${nbPages}"><a-->
                        <!--                                th:text="${status.index}"-->
                        <!--                                th:href="@{/niveaux/(p=${status.index},s=${s},mc=${mc})}"></a></li>-->
                    </ul>
                </div>

            </div>
        </div>

    </div>

    <!-- Panel -->
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Ajouter un Niveau</h1>
            </div>
            <div class="panel-body">
                <form method="POST">
                    <div class="form-group">
                        <label class="control-label">Nom:</label>
                        <input class="form-control" type="text" name="nom" id="nom"/>
                    </div>
                    <button class="btn btn-primary" type="button" onclick="addNiveau()">Save</button>
                </form>
            </div>

        </div>
    </div>
</div>

<script type="application/javascript">
    document.getElementById("nom").value=""
    const URL = "http://localhost:8099"
    const query = window.location.search
    const urlParams = new URLSearchParams(query);
    const formation_id = urlParams.get("id_formation")
    window.onload = function () {
        getNiveaux()
    }

    async function getNiveaux() {
        let table = document.getElementById("listeniveaux")
        let header = document.getElementById("header")
        let i=0
        let nomFormation
        await fetch(URL + "/formations/" + formation_id, {
            method: "GET"
        }).then(reponse => reponse.json())
            .then(formation => {
                nomFormation = formation.nom
                for(i;i<1;i++){
                    header.innerHTML+=" de la formation "+nomFormation
                }
            })
        await fetch(URL + "/formations/" + formation_id + "/niveaux", {
            method: "GET"
        }).then(reponse => reponse.json())
            .then(niveaux => {
                    niveaux._embedded.niveaus.forEach(function (niveau) {
                        table.innerHTML += `
                    <tr>
                        <td scope="row">${niveau.nom}</td>
                        <td scope="row"><a href="${URL + '/niveauUpdate?id=' + niveau.id+"&id_formation="+formation_id}"><button class="btn btn-warning">Edit</button></a></td>
                        <td scope="row"><button class="btn btn-danger" onclick="deleteNiveau(${niveau.id})">Delete</button></td>
                        <td scope="row"><a href="${URL + "/matiere?id_niveau=" + niveau.id+"&id_formation="+formation_id}"><button class="btn btn-primary">Matieres</button> </a></td>
                    </tr>
                    `
                    })
                }
            )
    }


    async function deleteNiveau(i){
        const deleteniveauurl = URL+"/niveaus/"+i
        const matiereurl = deleteniveauurl+"/matieres"
        const classeurl = deleteniveauurl+"/classes"
        await fetch(matiereurl, {
            method: "GET"
        }).then(response => response.json())
            .then(response => {
                let matieres = response._embedded.matieres
                console.log(matieres)
                matieres.forEach(function (matiere) {
                    console.log(URL + "/matieres/" + matiere.id + "/niveau")
                    fetch(URL + "/matieres/" + matiere.id + "/niveau", {
                        method: "DELETE"
                    })
                })
            })
        await fetch(classeurl, {
            method: "GET"
        }).then(response => response.json())
            .then(response => {
                let classes = response._embedded.classes
                console.log(classes)
                classes.forEach(function (classe) {
                    console.log(URL + "/classes/" + classe.id + "/niveau")
                    fetch(URL + "/classes/" + classe.id + "/niveau", {
                        method: "DELETE"
                    })
                })
            })


        await fetch(deleteniveauurl,{
            method:"DELETE"
        })
        location.reload();
        return false;
    }


    async function addNiveau() {
        let nomNiveau = document.getElementById("nom").value
        let body ={
            nom:nomNiveau,
            formation:"http://localhost:8099/formations/"+formation_id
        }
        const nouveauNiveau=URL+"/niveaus"
        await fetch(nouveauNiveau,{
            method:"POST",
            headers: {
                'Content-Type': 'application/json;charset=utf-8',
            },
            body:JSON.stringify(body)
        })
        location.reload();
        return false;
    }




</script>
</body>
</html>
