<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'')}">

<head>
<meta charset="UTF-8" />
<title>Matiere</title>

<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
	<div >
		<br />
		<div class="container">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 id="header">Matieres</h1>
				</div>
				<div class="panel-body"></div>
				<!-- Search -->
				<div class="container">
<!--					<form th:action="@{/matieres/}" method="GET">-->
<!--						<label for="mcNomMatiere">Mot Clé:</label> <input type="text"-->
<!--							id="mcNomMatiere" name="mc" th:value="${mc}" /> <input-->
<!--							type="submit" class="btn btn-primary" />-->
<!--					</form>-->
				</div>

				<!-- Table -->
				<div class="container-fluid">
					<table class="table">
						<thead>
							<tr>
								<th>Matiere</th>
								<th>Update</th>
								<th>Delete</th>
								<th>Qcms</th>
							</tr>
						</thead>

						<tbody id="listematieres">
<!--							<tr th:each="m:${pageMatiere}">-->
<!--								<td th:text="${m.nom}">-->
<!--								<td th:text="${m.niveau.nom}">-->
<!--								<td><a class="btn btn-success" th:href="@{/matieres/update(id=${m.id})}">Update</a></td>-->
<!--								<td><a class="btn btn-danger" -->
<!--									onclick="return confirm('Voulez vous vraiment supprimer ce theme?')"-->
<!--									th:href="@{/matieres/delete(id=${m.id},p=${p},s=${s},mc=${mc})}">Delete</a></td>-->

<!--							</tr>-->
						</tbody>
					</table>
				</div>

				<div class="panel-footer">
					<!-- navbar -->
					<div class="container">
						<ul class="nav nav-pills">
<!--							<li th:class="${status.index}==${p} ? 'active' : ''"-->
<!--								th:each="numPage,status:${nbPages}"><a-->
<!--								th:text="${status.index}"-->
<!--								th:href="@{/matieres/(p=${status.index},s=${s},mc=${mc})}"></a></li>-->
						</ul>
					</div>

				</div>
			</div>

		</div>

		<!-- Panel -->
		<div class="container">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1>Ajouter une Matiere</h1>
				</div>
				<div class="panel-body">
					<form  method="POST">
						<div class="form-group">
							<label class="control-label">Nom:</label> <input
								class="form-control" type="text" name="nom" id="nom" />
						</div>

						<div class="form-group">
<!--							<label class="control-label">Niveau:</label> <select name="n_id">-->
<!--								<option th:each="n:${listNiveau}" th:value="${n.id}"-->
<!--									th:text="${n.nom}" />-->
<!--							</select>-->
						</div>

						<button class="btn btn-primary" type="button" onclick="addMatiere()">Save</button>
					</form>
				</div>

			</div>
		</div>
	</div>

<script type="application/javascript">
	const URL = "http://localhost:8099"
	const query = window.location.search
	const urlParams = new URLSearchParams(query);
	const niveau_id = urlParams.get("id_niveau")
	const formation_id=urlParams.get("id_formation")
	// console.log({niveau_id,formation_id})
	window.onload=function () {
		getMatieres()
	}

	async function getMatieres() {
		let table = document.getElementById("listematieres")
		let header = document.getElementById("header")
		let nomFormation
		let nomNiveau
		let i=0
		await fetch(URL + "/formations/" + formation_id, {
			method: "GET"
		}).then(reponse => reponse.json())
				.then(formation => {
					nomFormation = formation.nom
					for(i;i<1;i++){
						header.innerHTML+=" de la formation "+nomFormation
					}
				})
		i=0
		await fetch(URL + "/niveaus/" + niveau_id, {
			method: "GET"
		}).then(reponse => reponse.json())
				.then(niveau => {
					nomNiveau = niveau.nom
					for(i;i<1;i++){
						header.innerHTML+=" de la "+nomNiveau
					}
				})
		await fetch(URL + "/niveaus/" + niveau_id + "/matieres", {
			method: "GET"
		}).then(reponse => reponse.json())
				.then(matieres => {
							matieres._embedded.matieres.forEach(function (matiere) {
								table.innerHTML += `
                    <tr>
                        <td scope="row">${matiere.nom}</td>
                        <td scope="row"><a href="${URL + '/matiereUpdate?id=' + matiere.id+"&id_formation="+formation_id+"&id_niveau="+niveau_id}"><button class="btn btn-warning">Edit</button></a></td>
                        <td scope="row"><button class="btn btn-danger" onclick="deleteMatiere(${matiere.id})">Delete</button></td>
                        <td scope="row"><a href="${URL + "/qcm?id_matiere=" + matiere.id+"&id_formation="+formation_id}"><button class="btn btn-primary">Qcms</button> </a></td>
                    </tr>
                    `
							})
						}
				)
	}


	async function deleteMatiere(i) {
		const deletematiereurl = URL+"/matieres/"+i
		const themeurl = deletematiereurl+"/themes"
		const qcmurl = deletematiereurl+"/examens"
		await fetch(themeurl, {
			method: "GET"
		}).then(response => response.json())
				.then(response => {
					let themes = response._embedded.themes
					console.log(themes)
					themes.forEach(function (theme) {
						console.log(URL + "/themes/" + theme.id + "/matiere")
						fetch(URL + "/themes/" + theme.id + "/matiere", {
							method: "DELETE"
						})
					})
				})
		await fetch(qcmurl, {
			method: "GET"
		}).then(response => response.json())
				.then(response => {
					let qcms = response._embedded.qcms
					console.log(qcms)
					qcms.forEach(function (qcm) {
						console.log(URL + "/qcms/" + qcm.id + "/matiere")
						fetch(URL + "/qcms/" + qcm.id + "/matiere", {
							method: "DELETE"
						})
					})
				})

		await fetch(deletematiereurl,{
			method:"DELETE"
		})
		await fetch(deletematiereurl,{
			method:"DELETE"
		})
		location.reload();
		return false;
	}

	async function addMatiere() {
		let nomMatiere = document.getElementById("nom").value
		let body ={
			nom:nomMatiere,
			niveau:"http://localhost:8099/niveaux/"+niveau_id
		}
		const nouvelleMatiere=URL+"/matieres"
		await fetch(nouvelleMatiere,{
			method:"POST",
			headers: {
				'Content-Type': 'application/json;charset=utf-8',
			},
			body:JSON.stringify(body)
		})
		location.reload();
		return false;
	}

</script>
</body>
</html>
