<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'')}">

<head>
    <meta charset="UTF-8"/>
    <title>Theme</title>

    <link
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            rel="stylesheet"/>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div>
    <br/>
    <!-- Panel -->
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Modifier une Matiere</h1>
            </div>
            <div class="panel-body">
                <form th:action="@{/matieres/confirmation}" method="POST">

                    <div class="form-group">
                        <label class="control-label">Nom:</label> <input
                            class="form-control" type="text" name="nom" id="nom"/>
                    </div>

                    <!--						<div class="form-group">-->
                    <!--							<label class="control-label">Niveau:</label> <select name="n_id">-->
                    <!--								<option th:each="n:${listNiveau}" th:value="${n.id}"-->
                    <!--									th:text="${n.nom}" />-->
                    <!--							</select>-->
                    <!--						</div>-->

                    <button class="btn btn-primary" type="button" onclick="update()">Save</button>
                    <a class="btn btn-danger" id="cancel">Annuler</a>
                </form>
            </div>
        </div>

    </div>

</div>
<script type="application/javascript">
    const URL = "http://localhost:8099"
    const query = window.location.search
    const urlParams = new URLSearchParams(query);
    const matiere_id = urlParams.get("id")
	const niveau_id=urlParams.get("id_niveau")
    const formation_id = urlParams.get("id_formation")
    document.getElementById("cancel").href = URL + "/matiere?id_formation=" + formation_id+"&id_niveau="+niveau_id
    fetch(URL + "/matieres/" + matiere_id, {
        method: "GET"
    }).then(response => response.json())
        .then(response => {
            document.getElementById("nom").value = response.nom
        })

    async function update() {
        let body = {
            nom: document.getElementById("nom").value
        }
        console.log(body.nom)
        await fetch(URL + "/matieres/" + matiere_id, {
            method: "PATCH",
            headers: {
                'Content-Type': 'application/json;charset=utf-8',
            },
            body: JSON.stringify(body)
        })
        window.location.href = URL + "/matiere?id_formation=" + formation_id+"&id_niveau="+niveau_id
        return false
    }
</script>
</body>
</html>
