<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'')}">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 id="header">Questions</h1>
        </div>
        <div class="panel-body">

        </div>
        <div class="container-fluid">
            <table class="table">
                <thead>
                <tr id="head">
                    <th>Enoncé</th>
                    <th>Update</th>
                    <th>Delete</th>
                    <th>Repondre</th>
                </tr>
                </thead>

                <tbody id="listeqsts">

                </tbody>
            </table>

        </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Ajouter question</h1>
            </div>
            <div class="panel-body">
                <form method="POST">
                    <div class="form-group">
                        <label class="control-label">Nom:</label> <input
                            class="form-control" type="text" name="nom" id="nom"/>


                    </div>

                    <div class="form-group">
                        <!--							<label class="control-label">Niveau:</label> <select name="n_id">-->
                        <!--								<option th:each="n:${listNiveau}" th:value="${n.id}"-->
                        <!--									th:text="${n.nom}" />-->
                        <!--							</select>-->
                    </div>
                    <br>
                    <button class="btn btn-primary" type="button" onclick="addQuestion()">Save</button>
                </form>
            </div>

        </div>
    </div>
</div>
</div>

<script type="application/javascript">
    const URL = "http://localhost:8099"
    document.getElementById("nom").value = ""
    const query = window.location.search
    const urlParams = new URLSearchParams(query)
    const qcm_id = urlParams.get("qcm_id")

    window.onload = function () {
        getQuestions()
    }


    async function getQuestions() {
        let table = document.getElementById("listeqsts")
        let header = document.getElementById("header")


        await fetch(URL + "/qcms/" + qcm_id + "/questions", {
            method: "GET"
        }).then(response => response.json())
            .then(questions => {
                questions._embedded.questions.forEach(function (question) {
                    table.innerHTML += `
                    <tr>
                        <td scope="row">${question.enonce}</td>
                        <td scope="row"><a href="${URL + '/qstUpdate?id=' + question.id}"><button class="btn btn-warning">Edit</button></a></td>
                        <td scope="row"><button class="btn btn-danger" onclick="deleteQst(${question.id})">Delete</button></td>
                        <td scope="row"><a href="${URL+"/reponse?id_question="+question.id}"><button class="btn btn-primary" ">Repondre</button></a></td>
                    </tr>
                    `
                })
            })


    }

</script>

</body>
</html>
