<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'qcm')}">
<head>
    <meta charset="UTF-8">
    <title>Qcm</title>
    <link
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            rel="stylesheet"/>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <br/>
    <div class="container">
        <!-- Panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 id="header">QCMs</h1>
            </div>
            <div class="panel-body">

            </div>
            <div class="container-fluid">
                <table class="table">
                    <thead>
                    <tr id="head">
                        <th>Matiere</th>
                        <th>Update</th>
                        <th>Delete</th>
                        <th>Questions</th>
                    </tr>
                    </thead>

                    <tbody id="listeqcms">

                    </tbody>
                </table>

            </div>
        </div>
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Ajouter QCM</h1>
                </div>
                <div class="panel-body">
                    <form method="POST">
                        <div class="form-group">
                            <label class="control-label">Nom:</label> <input
                                class="form-control" type="text" name="nom" id="nom" />
                            <div class="col-md-6">
                                <select id="formateurs" class="form-control">

                                </select>
                            </div>
                            <div class="col-md-6">
                                <select id="classes" class="form-control">

                                </select>
                            </div>

                        </div>

                        <div class="form-group">
                            <!--							<label class="control-label">Niveau:</label> <select name="n_id">-->
                            <!--								<option th:each="n:${listNiveau}" th:value="${n.id}"-->
                            <!--									th:text="${n.nom}" />-->
                            <!--							</select>-->
                        </div>
                        <br>
                        <button class="btn btn-primary" type="button" onclick="addQcm()">Save</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="application/javascript">
    const URL = "http://localhost:8099"
    document.getElementById("nom").value=""
    const query = window.location.search
    const urlParams = new URLSearchParams(query)
    const matiere_id = urlParams.get("id_matiere")
    const formation_id=urlParams.get("id_formation")

    window.onload=function () {
        if(matiere_id===null && formation_id===null){
            getAllQcms()
        }
        else{
            getQcms()
        }
        getFormateursAndClasses()
    }

    async function getAllQcms(){
        let table = document.getElementById("listeqcms")

        let head = document.getElementById("head")
        let i=0
        await fetch(URL + "/qcms", {
            method: "GET"
        }).then(reponse => reponse.json())
            .then(qcms => {
                    qcms._embedded.qcms.forEach(function (qcm) {
                        for(i;i<1;i++){
                            head.innerHTML+=`<th>Infos</th>`
                        }
                        table.innerHTML += `
                    <tr>
                        <td scope="row">${qcm.nom}</td>
                        <td scope="row"><a href="${URL + '/qcmUpdate?id=' + qcm.id+"&id_formation="+formation_id+"&id_matiere="+matiere_id}"><button class="btn btn-warning">Edit</button></a></td>
                        <td scope="row"><button class="btn btn-danger" onclick="deleteQcm(${qcm.id})">Delete</button></td>
                        <td scope="row"><a href="${URL + "/question?qcm_id=" + qcm.id}"><button class="btn btn-primary">Questions</button> </a></td>
                        <td scope="row"><a href="${URL + "/qcmInfos?id=" + qcm.id}"><button class="btn btn-success">Infos</button> </a></td>
                    </tr>
                    `
                    })
                }
            )

    }


    async function getFormateursAndClasses(){
        let formateurslist = document.getElementById("formateurs")
        let classeslist = document.getElementById("classes")
        await fetch(URL + "/classes", {
            method: "GET"
        }).then(reponse => reponse.json())
            .then(classes => {
                    classes._embedded.classes.forEach(function (classe) {
                        classeslist.innerHTML += `
                    <option value="${classe.id}" >${classe.nom}</option>
                    `
                    })
                }
            )
        await fetch(URL + "/formateurs", {
            method: "GET"
        }).then(reponse => reponse.json())
            .then(formateurs => {
                    formateurs._embedded.formateurs.forEach(function (formateur) {
                        formateurslist.innerHTML += `
                    <option value="${formateur.nom}">${formateur.nom}</option>
                    `
                    })
                }
            )

    }

    async function getQcms() {
        let table = document.getElementById("listeqcms")
        let header = document.getElementById("header")
        let nomFormation
        let nomMatiere
        let i=0
        await fetch(URL + "/formations/" + formation_id, {
            method: "GET"
        }).then(reponse => reponse.json())
            .then(formation => {
                nomFormation = formation.nom
                for(i;i<1;i++){
                    header.innerHTML+=" de la formation "+nomFormation
                }
            })
        i=0
        await fetch(URL + "/matieres/" + matiere_id, {
            method: "GET"
        }).then(reponse => reponse.json())
            .then(matiere => {
                nomMatiere = matiere.nom
                for(i;i<1;i++){
                    header.innerHTML+=" de la matiere "+nomMatiere
                }
            })

        await fetch(URL + "/matieres/" + matiere_id + "/examens", {
            method: "GET"
        }).then(reponse => reponse.json())
            .then(qcms => {
                    qcms._embedded.qcms.forEach(function (qcm) {
                        table.innerHTML += `
                    <tr>
                        <td scope="row">${qcm.nom}</td>
                        <td scope="row"><a href="${URL + '/qcmUpdate?id=' + qcm.id+"&id_formation="+formation_id+"&id_matiere="+matiere_id}"><button class="btn btn-warning">Edit</button></a></td>
                        <td scope="row"><button class="btn btn-danger" onclick="deleteQcm(${qcm.id})">Delete</button></td>
                        <td scope="row"><a href="${URL + "/question?qcm_id=" + qcm.id}"><button class="btn btn-primary">Questions</button> </a></td>
                    </tr>
                    `
                    })
                }
            )

    }

    async function deleteQcm(i) {
        await fetch(URL+"/qcms/"+i,{
            method:"DELETE"
        })
        location.reload();
        return false;
    }

    async function addQcm() {
        let nomQcm = document.getElementById("nom").value
        let nomFormateur = document.getElementById("formateurs").value
        let idClasse = document.getElementById("classes").value
        let body ={
            nom:nomQcm,
            matiere:"http://localhost:8099/matieres/"+matiere_id,
            formateur:"http://localhost:8099/formateurs/"+nomFormateur,
            classe:"http://localhost:8099/classe/"+idClasse
        }
        console.log(body)
        const nouveauQcm=URL+"/qcms"
        await fetch(nouveauQcm,{
            method:"POST",
            headers: {
                'Content-Type': 'application/json;charset=utf-8',
            },
            body:JSON.stringify(body)
        })
        location.reload();
        return false;
    }


</script>
</body>
</html>
